.desktop {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .group-wrapper {
  background-color: #c4c4c4;
  width: 1440px;
  height: 1024px;
}

.desktop .group {
  position: relative;
  width: 985px;
  height: 551px;
  top: 236px;
  left: 234px;
}

.desktop .overlap-group {
  position: relative;
  width: 971px;
  height: 551px;
  left: 2px;
  background-color: #fff9f9;
}

.desktop .overlap {
  position: absolute;
  width: 220px;
  height: 30px;
  top: 398px;
  left: 609px;
}

.desktop .vector {
  position: absolute;
  width: 220px;
  height: 8px;
  top: 22px;
  left: 0;
}

.desktop .CODAD-CEOC {
  left: 47px;
  position: absolute;
  top: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 25.8px;
  white-space: nowrap;
}

.desktop .text-wrapper {
  font-style: italic;
  color: #21005d;
}

.desktop .span {
  font-style: italic;
  color: #ffffff;
}

.desktop .screenshot {
  position: absolute;
  width: 125px;
  height: 122px;
  top: 363px;
  left: 410px;
  object-fit: cover;
}

.desktop .CERTIFICATE-OF {
  position: absolute;
  top: 69px;
  left: 308px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
}

.desktop .text-wrapper-3 {
  font-family: "Itim", Helvetica;
}

.desktop .div {
  position: absolute;
  width: 220px;
  height: 30px;
  top: 398px;
  left: 108px;
}

.desktop .CODAD-FOUNDERC {
  left: 21px;
  position: absolute;
  top: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 25.8px;
  white-space: nowrap;
}

.desktop .polygon {
  position: absolute;
  width: 59px;
  height: 56px;
  top: 10px;
  left: 10px;
}

.desktop .img {
  position: absolute;
  width: 58px;
  height: 57px;
  top: 484px;
  left: 902px;
}

.desktop .overlap-2 {
  position: absolute;
  width: 525px;
  height: 153px;
  top: 183px;
  left: 243px;
}

.desktop .frame {
  position: absolute;
  width: 437px;
  height: 129px;
  top: 0;
  left: 0;
}

.desktop .for-completing-web {
  position: absolute;
  width: 525px;
  top: 129px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: var(--m-3black);
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 25.8px;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 440px;
  left: 165px;
  font-family: "Sacramento", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 25.8px;
  white-space: nowrap;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 440px;
  left: 669px;
  font-family: "Sacramento", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 25.8px;
  white-space: nowrap;
}
